> ### Data Structures & Programming Basics

# Lecture03: Algorithm Analysis

##1. Insertion and Time

In [4]:
def contains(bag, e) :
    return e in bag

def insert(bag, e) :
    bag.append(e)

def insert_first(bag, e) :
    bag.insert(0, e)

def remove(bag, e) :
    bag.remove(e)

def count(bag):
    return len(bag)

In [5]:
myBag = []
insert(myBag, '휴대폰')
insert(myBag, '지갑')
insert(myBag, '손수건')
insert(myBag, '빗')
insert(myBag, '자료구조')
insert(myBag, '야구공')
print('가방속의 물건:', myBag)

insert(myBag, '빗')
remove(myBag, '손수건')
print('가방속의 물건:', myBag)

가방속의 물건: ['휴대폰', '지갑', '손수건', '빗', '자료구조', '야구공']
가방속의 물건: ['휴대폰', '지갑', '빗', '자료구조', '야구공', '빗']

### Time module

In [6]:
import time

myBag = []
start = time.time()
for i in range(10000):
    insert_first(myBag, '펜')
end = time.time()

In [7]:
start

1711506244.17277

In [8]:
end

1711506244.2025285

In [9]:
print("running time : %10.7f seconds" % (end - start))

running time :  0.0297585 seconds

In [10]:
myBag = []
start = time.time()
for i in range(10000):
    insert(myBag, '펜')
end = time.time()

In [11]:
start

1711506251.0569174

In [12]:
end

1711506251.0593703

In [13]:
print("running time : %10.7f seconds" % (end - start))

running time :  0.0024529 seconds


## 2. What Is Algorithm Analysis?

* 1~n까지의 Sum을 구하는 함수

In [14]:
def sum_of_n(n):
    the_sum = 0
    for i in range(1,n+1):
        the_sum = the_sum + i
    return the_sum

In [15]:
print(sum_of_n(10))

55

* 같은 기능을 수행하는 함수이지만 이해하기 어려운 변수명, 추가적인 할당

In [16]:
def foo(tom):
    fred = 0
    for bill in range(1, tom+1):
        barney = bill
        fred = fred + barney
    return fred

In [17]:
print(foo(10))

55

In [18]:
import time

def sum_of_n_2(n):
    start = time.time()
    the_sum = 0

    for i in range(1, n+1):
        the_sum = the_sum + i
    end = time.time()

    return the_sum, end - start

In [19]:
for i in range(5):
    print("Sum is %d required %10.7f seconds" % sum_of_n_2(10000))

Sum is 50005000 required  0.0011258 seconds
Sum is 50005000 required  0.0031152 seconds
Sum is 50005000 required  0.0009644 seconds
Sum is 50005000 required  0.0009179 seconds
Sum is 50005000 required  0.0016303 seconds

In [20]:
for i in range(5):
    print("Sum is %d required %10.7f seconds" % sum_of_n_2(1000000))

Sum is 500000500000 required  0.0699739 seconds
Sum is 500000500000 required  0.0756283 seconds
Sum is 500000500000 required  0.0650754 seconds
Sum is 500000500000 required  0.0631323 seconds
Sum is 500000500000 required  0.0679007 seconds

In [21]:
def sum_of_n_3(n):
    return (n * (n + 1)) / 2

In [22]:
print(sum_of_n_3(10))

55.0

In [23]:
def sum_of_n_3(n):
    start = time.time()
    the_sum = (n * (n + 1)) / 2
    end = time.time()

    return the_sum, end - start

In [24]:
for i in range(5):
    print("Sum is %d required %10.7f seconds" % sum_of_n_3(10000 * (10 ** (i+1))))

Sum is 5000050000 required  0.0000010 seconds
Sum is 500000500000 required  0.0000010 seconds
Sum is 50000005000000 required  0.0000007 seconds
Sum is 5000000050000000 required  0.0000012 seconds
Sum is 500000000500000000 required  0.0000005 seconds

## 3. Big-$\mathcal{O}$ Notation

###p.23 Example

In [25]:
def sum_quad(n):
    partialSum = 0
    for i in range(n):
        partialSum += i*i*i
    return partialSum

In [26]:
sum_quad(5)

100

### Rule 2

In [27]:
N = 100
M = 40
k = 0
for i in range(N):
    for j in range(M):
        k += 1

print(k)

4000

### Rule 3

In [28]:
N = 100
M = 40
k = 0
for i in range(N):
    for j in range(N):
        k = i + j
for i in range(M):
    k += i

print(k)

978

### Rule 4

In [29]:
score = [50, 29, 59, 80, 99, 100]

if len(score) > 5:
    for i in score:
        print("score : %d" % i)
else:
    print("not enough scores")

score : 50
score : 29
score : 59
score : 80
score : 99
score : 100

### p.31 순환 Recursive

* factorial

In [30]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)

In [31]:
print(factorial(10))

3628800

In [32]:
def factorial2(n):
    result = 1
    for k in range(n,0,-1):
        result = result * k
    return result

In [33]:
print(factorial2(10))

3628800

* 거듭제곱

In [34]:
import math as m

In [35]:
m.pow(2,3)

8.0

In [36]:
def power_iter(x,n):
    result = 1.0
    for i in range(n):
        result = result * x
    return result

In [37]:
print(power_iter(2,3))

8.0

In [47]:
def power_recur(x, n):
  if n == 0:
      return 1
  elif (n%2) == 0:
      return power_recur(x*x, n//2)
  else:
      return x*power_recur(x*x, (n-1)//2)

In [48]:
print(power_recur(5,3))

125

* p.36 피보나치 수열

In [ ]:
import time

In [ ]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

n = int(input("숫자를 입력하세요."))

start = time.time()
print(fib(n))
end = time.time()

55

In [ ]:
start

1650347906.8174057

In [ ]:
end

1650347906.8174057

In [ ]:
print("running time : %10.7f seconds" % (end - start))

running time :  0.0000000 seconds

In [ ]:
def fib_iter(n):
    if (n < 2):
        return n
    last = 0
    current = 1
    for i in range(2, n+1):
        tmp = current
        current += last
        last = tmp
    return current

n = int(input("숫자를 입력하세요."))
start = time.time()
print(fib_iter(n))
end = time.time()

6765

In [ ]:
start

1650347934.4749465

In [ ]:
end

1650347934.4749465

In [ ]:
print("running time : %10.7f seconds" % (end - start))

running time :  0.0000000 seconds